- if @section == 'locations-list'
  a.create-a-new-location <i class="fa fa-map-marker"></i> Create a New Location
- else if @section == 'location-show'
  a.return-to-locations-list <i class="fa fa-list"></i> Return to List of Locations
  a.edit-location <i class="fa fa-list"></i> Edit Location Settings
  a.survey-here <i class="fa fa-question-circle"></i> Start Surveying Here
- else if @section == 'location-new'
  a.cancel-edit-location Cancel
  a.save-edit-location Save
- else if @section == 'location-edit'
  a.cancel-edit-location Cancel
  a.delete-edit-location Delete
  a.save-edit-location Save
