form role="form"
  .form-group
    label.col-sm-2.control-label for="name" Name
    input type="text" name="name" value="#{@name}"
  .form-group
    label.col-sm-2.control-label for="prompt_type" Preferred Prompt Type
    .col-sm-10
      .radio
        label
          input type="radio" name="prompt_type" value="point_on_map" checked=(@prompt_type == "point_on_map")
          | Point on Map
      .radio
        label
          input type="radio" name="prompt_type" value="zip_code" checked=(@prompt_type == "zip_code")
          | ZIP Code
