.container-fluid
  .navbar-header
    a.navbar-brand CBT Access
  ul.nav.navbar-nav.navbar-right
    li.dropdown
      a.dropdown-toggle data-toggle="dropdown" <i class="fa fa-user"></i> #{@currentUserName}
      ul.dropdown-menu
        li
          a href="/users/sign_out" <i class="fa fa-sign-out"></i> Sign Out
