ul.other-auth-actions
  - if controller_name != 'sessions'
    li= link_to "Sign in", new_session_path(resource_name)

  - if devise_mapping.recoverable? && controller_name != 'passwords'
    li= link_to "Forgot your password?", new_password_path(resource_name)

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    li= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      li= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider)
