= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  h2 Forgot your password?
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true, :placeholder => 'E-mail Address', :label => false
  .form-actions
    = f.button :submit, "Reset my password", :class => 'btn-primary btn-block'
  = render "devise/shared/links"
