- content_for :head
  meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"
  meta name="apple-mobile-web-app-capable" content="yes"

.main.region
.dialog.region

javascript:
  $(function() {
    Access.start({
      environment: gon.environment,
      currentUser: gon.current_user
    });
  });
