= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  h2 Sign in
  .form-inputs
    = f.input :email, autofocus: true, placeholder: 'E-mail Address'
    = f.input :password, placeholder: 'Password'
    = f.input :remember_me, as: :boolean, wrapper: :append if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Sign in", :class => 'btn btn-primary btn-block'
  = render "devise/shared/links"
