$transit-color: #7fc97f;
$foot-color: #beaed4;
$bicycle-color: #fdc086;
$car-color: #ffff99;

$typical-padding: 10px;

@import 'leaflet';
@import 'leaflet-locatecontrol';
@import 'font-awesome';
@import 'bootstrap';

@import 'travelmode';

@mixin unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html,
body,
.main.region,
.analyze-mode,
.location-list,
.map,
.survey-mode,
.survey-page.region,
#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include unselectable;
}

.location-list {
  overflow-y: scroll; /* TODO: scroll the tbody instead */
}

.topbar.region {
  height: 50px;
  h1 {
    padding: 0;
    margin: 0;
  }
}

ul.action-bar-buttons {
  @extend .btn-group;
  @extend .btn-group-justified;
  padding: $typical-padding;
  margin: 0;
  a {
    @extend .btn;
    &.create-a-new-location {
      @extend .btn-success;
    }
    &.return-to-locations-list {
      @extend .btn-default;
    }
    &.edit-location {
      @extend .btn-primary;
    }
    &.survey-here {
      @extend .btn-danger;
    }
    &.cancel-edit-location {
      @extend .btn-default;
    }
    &.delete-edit-location {
      @extend .btn-danger;
    }
    &.save-edit-location {
      @extend .btn-primary;
    }
  }
}

.location-list {
  tbody > tr > td {
    vertical-align: middle;
    &.name {
      font-weight: bold;
    }
    &.actions {
      text-align: right;
      a.open-location {
        @extend .btn;
        @extend .btn-default;
      }
    }
  }
}

.location-edit-form {
  padding: $typical-padding;
  form {
    @extend .form-horizontal;
  }
}

#location-visitors-by-travel-mode-chart {
  g.slice path {
    &.transit {
      fill: $transit-color;
    }
    &.foot {
      fill: $foot-color;
    }
    &.bicycle {
      fill: $bicycle-color;
    }
    &.car {
      fill: $car-color;
    }
  }
  g.arc-label {
    text {
      font-family: "travelmode";
      font-size: 2em;
    }
  }
}

#location-visitors-by-distance-traveled-chart {
  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

#map {
  .marker {
    font-size: 16px;
    color: #fff;
    text-align: center;
    &.location {
      background-color: #123ea4;
      &.active, &:hover {
        background-color: #43ea32;
      }
    }
    &.visitor {
      color: #000;
      background: url(/assets/circle-white-center-black-border.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      // -webkit-text-stroke: 1px white;
      // &.transit {
      //   color: $transit-color;
      // }
      // &.foot {
      //   color: $foot-color;
      // }
      // &.bike {
      //   color: $bicycle-color;
      // }
      // &.car {
      //   color: $car-color;
      // }
    }
  }
  .visitor-travel-line {
    stroke-width: 26px;
    &.transit {
      stroke: $transit-color;
    }
    &.foot {
      stroke: $foot-color;
    }
    &.bike {
      stroke: $bicycle-color;
    }
    &.car {
      stroke: $car-color;
    }
  }
}

.main.region.survey-mode {
  padding: 30px;
}

.ask-travel-mode-page, .ask-origin-page {
  @extend .panel;
  @extend .panel-default;
  width: 100%;
  height: 100%;
  .panel-heading {
    text-align: center;
  }
  .panel-body {
    height: 60%;
  }
}
.ask-travel-mode-page {
  .row {
    padding-bottom: 15px;
    height: 40%;
  }
  .col-md-6 {
    height: 100%;
  }
  a.ask-travel-mode-button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
    font-size: 3em;
    height: 100%;
  }
}
.ask-origin-page {
  #ask-origin-input {
    height: 80%; /* TODO: replace these arbitrary heights with JS auto-fitting */
  }
  #map {
    height: 100%;
  }
  a.skip-origin {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-block;
  }
  a.submit-origin {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-block;
    @extend .btn-lg;
  }
}

.exit-survey-mode {
  position: absolute;
  bottom: 0;
  @extend .btn;
  @extend .btn-default;
  @extend .btn-block;
}

// [data-wrapper].opacity    {  @include opacity(0.4);  }
// .loading-container        {  min-height: 200px;  }
