@import 'bootstrap';

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.logo-col {
  @extend .col-md-4;
  text-align: center;
  img {
    padding: 10px;
  }
}

.devise-form-col {
  @extend .col-md-4;
}

.register-col {
  @extend .col-md-4;
}

form, .alert {
  margin: 0 auto 20px;
}

form {
  max-width: 300px;
  padding: 19px 29px 9px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);

  h2 {
    padding-bottom: 19px;
  }

  .controls {
    margin-left: 0 !important;
  }

  .user_remember_me {
    label {
      float: left;
    }
    .controls {
      float: left;
      padding-top: 7px;
      padding-bottom: 10px;
      input {
        margin-left: 4px;
      }
    }
  }
 
  input[type="email"], input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    width: 100%;
  }

  .form-actions {
    clear: both;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  ul.other-auth-actions {
    padding-top: 10px;
    @extend .list-unstyled;
    li {
      padding-bottom: 10px;
    }
  }
}
