@font-face {
  font-family: 'travelmode';
  src: url('fonts/travelmode.eot?28521966');
  src: url('fonts/travelmode.eot?28521966#iefix') format('embedded-opentype'),
       url('fonts/travelmode.woff?28521966') format('woff'),
       url('fonts/travelmode.ttf?28521966') format('truetype'),
       url('fonts/travelmode.svg?28521966#travelmode') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'travelmode';
    src: url('../font/travelmode.svg?28521966#travelmode') format('svg');
  }
}
*/

 [class^="travelmode-icon-"]:before, [class*=" travelmode-icon-"]:before {
  font-family: "travelmode";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.travelmode-icon-transit:before { content: '\74'; } /* 't' */
.travelmode-icon-bicycle:before { content: '\62'; } /* 'b' */
.travelmode-icon-foot:before { content: '\66'; } /* 'f' */
.travelmode-icon-car:before { content: '\63'; } /* 'c' */

.travelmode-icon-car { width: auto; } /* TODO: come up with a proper solution to center the car icon */
