p Hello, #{@resource.name}

p You've been invited to join <strong>#{@resource.primary_organization.name}</strong> on CBT Toolbox.

p= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @token)

p If you don't want to accept the invitation, please ignore this email. Your account won't be created until you access the link above and set your password.
