<!DOCTYPE html>
<html>
<head>
  <title>CBT Transportation Toolkit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
