doctype html
html
head
  title CBT Transportation Toolkit
  = csrf_meta_tags
  = javascript_include_tag "devise"
  = stylesheet_link_tag "devise"
  link rel="shortcut icon" href="favicon.ico"
  == yield :head
body
  .container
    .row
      - if flash[:notice].present?
        .alert.alert-info= flash[:notice]
      - if flash[:alert].present?
        .alert.alert-danger= flash[:alert]
      .logo-col
        a href="http://www.citybuildingtools.com/"
          = image_tag 'cbt-logo.png', :alt => 'City Building Tools', :class => 'cbt-logo'
      .devise-form-col
        == yield
      .register-col
        form
          h2 Sign Up
          p.lead New to CBT tools? Sign up for a CBT Toolbox account. There's no cost, and many tools are available to try for free.
          = link_to "Sign up", "TODO: PATH", class: 'btn btn-success btn-block'
